body {
    text-align: center;
    font: 10px calibri;
    background-color: #FAF0E6;
}

.buttons {
    background-color: #FAF0E6;
    font: 14px calibri;
    border: none;
    color: #777;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

h1 {
    text-align: center;
    height: auto;
    padding-top: 0px;
    padding-bottom: 10px;
    margin: 50px auto 0;
    width: 400px;
    color: #777;
    font: 30px calibri;
}

/* index.html */
#create {
    border: .75px solid #d3d3d3;
    background-color: white;
}

#add {
    border: .75px solid #d3d3d3;
    background-color: white;
}



/* outfit.html only*/
#back {
    border: .75px solid #d3d3d3;
    background-color: white;
}

#createO {
    border: .75px solid #777;
    background-color: white;
}

/* for images */
img {
    border-radius:2px;
    padding: 15px;
    margin: 10px;
    background-color: #fff;
    display: inline-block;
}

.img {
    width:175px;
    height:175px;
    object-fit:cover;
}

.pictures {
    background-size:cover;
    background-position:center;
}