/*
	Author(s): Jacy Yu,
               Justin Yin,
               Yi Yang,
               Cameron Fritz

    Date Created: 3/1/2020
    Last Updated: 3/14/2020

    File: odressmeStyles.css
    Purpose: Styling
*/
body {
    text-align: center;
    font: 10px calibri;
    background-color: #FAF0E6;
}

.buttons {
    background-color: #FAF0E6;
    font: 14px calibri;
    border: none;
    color: #777;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

h1 {
    text-align: center;
    height: auto;
    padding-top: 0px;
    padding-bottom: 10px;
    margin: 50px auto 0;
    width: 400px;
    color: #777;
    font: 30px calibri;
}

/* index.html */
#create {
    border: .75px solid #d3d3d3;
    background-color: white;
}

#add {
    border: .75px solid #d3d3d3;
    background-color: white;
}

#loginForm{
    text-align: center;
}

span {
    font: 20px calibri;
    color: #777;
    font-weight: bold;
}



/* outfit.html only*/

#back {
    border: .75px solid #777;
    background-color: white;
    margin-right: 10px;
}

#createO {
    border: .75px solid #777;
    background-color: white;
}


/* register.html only*/

#websiteName {
    font-size: 60px;
    padding: 0px;
}

#infoR {
    font-size: 30px;
    padding: 5px;
    color: #fff;
}

#RHome {
    padding: 10px;
}

#GoHome {
    border: .75px solid #777;
    background-color: white;
}

.input-fieldR {
    padding: 10px;
    display: block;
}

.input-fieldR label{
    padding: 10px;
    display: block;
}

#reg{
    padding: 30px;
}

#registerHome {
    font: 14px calibri;
    color: #777;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border: .75px solid #777;
    background-color: white;
}

#backgroundR {
    background:
        linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
        url(./closet.jfif);
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    border: 3.5px solid #777;
    position: relative;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 30px;
    margin-bottom: 100px;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
}

#content {
    position: center;
}


/* for images */
img {
    border-radius:2px;
    padding: 15px;
    margin: 10px;
    background-color: #fff;
    display: inline-block;
}

.img {
    width:175px;
    height:175px;
    object-fit:cover;
}

.pictures {
    background-size:cover;
    background-position:center;
}


/* labels for registration and login */
label {
    font: 14px calibri;
    color: #777;
}