body {
    text-align: center;
    font: 10px calibri;
    background-color: blanchedalmond;
}

button {

    background-color: blanchedalmond;
    font: 14px calibri;
    border: none;
    color: #777;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

#create {
    
    border: .75px solid #777;
    background-color: white;

}

#add {
    
    border: .75px solid #777;
    background-color: white;

}

h1 {
    text-align: center;
    height:auto;
    padding-top: 0px;
    padding-bottom:10px;
    margin:50px auto 0;
    width:400px;
    color: #777;
    font: 30px calibri;
}
